.page {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 820px) {
    .page {
      width: 100%;
      max-width: 30rem;
    }
}

.page__title {
  font-size: 3rem;
}

.accordion {
}

.accordion__input {
  display: none;
}

.accordion__item {
  margin-bottom: 3rem;
  display: block;
}

.accordion-item {
}

.accordion-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-item__title {
  flex: 1rem;
  line-height: 1.5;
}

.accordion-item__icon {
  width: 2rem;
  height: 2rem;
  opacity: 0;
  transition: all 0.3s;
}

.accordion__input[id="bayan-1"]:checked ~ .accordion__item[for="bayan-1"] .accordion-item__icon,
.accordion__input[id="bayan-2"]:checked ~ .accordion__item[for="bayan-2"] .accordion-item__icon,
.accordion__input[id="bayan-3"]:checked ~ .accordion__item[for="bayan-3"] .accordion-item__icon,
.accordion__input[id="bayan-4"]:checked ~ .accordion__item[for="bayan-4"] .accordion-item__icon{
  transform: rotate(-45deg);
}


.accordion-item__image-wrapper {
  margin-top: 1rem;
  height: 0;
  max-height: 50%;
  overflow: hidden;

}

.accordion__input[id="bayan-1"]:checked ~ .accordion__item[for="bayan-1"] .accordion-item__image-wrapper,
.accordion__input[id="bayan-2"]:checked ~ .accordion__item[for="bayan-2"] .accordion-item__image-wrapper,
.accordion__input[id="bayan-3"]:checked ~ .accordion__item[for="bayan-3"] .accordion-item__image-wrapper,
.accordion__input[id="bayan-4"]:checked ~ .accordion__item[for="bayan-4"] .accordion-item__image-wrapper {
  height: auto;
}

.accordion-item__image {
  opacity: 0;
  transform: scale(0.5);

}

.accordion__input[id="bayan-1"]:checked ~ .accordion__item[for="bayan-1"] .accordion-item__image,
.accordion__input[id="bayan-2"]:checked ~ .accordion__item[for="bayan-2"] .accordion-item__image,
.accordion__input[id="bayan-3"]:checked ~ .accordion__item[for="bayan-3"] .accordion-item__image,
.accordion__input[id="bayan-4"]:checked ~ .accordion__item[for="bayan-4"] .accordion-item__image {
  transition: all 0.3s;
  opacity: 1;
  transform: scale(1);
}

@media (hover: hover) {

  .accordion:hover .accordion-item__icon {
    opacity: 1;
  }
}
